*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db


build/
Documentation/.build
quartus/db
quartus/incremental_db

quartus/software
nios-workspace/
/commit_message.txt
/quartus/IP/register_interface/register_interface.vhd.bak
/RTX_C_Source/INC/interfaceRegs.h
/modelsim/register_interface_tb.vhd.bak
/modelsim/*.bak
